TestExamples/pr3.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="levelledPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element name="levelledPara" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="title"/>
              <xs:element name="warning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="warningAndCoutionPara"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="note">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="notePara"/>
                    <xs:element name="attentionRandomList" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="attentionRandomListItem" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="listItemPrefix"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="para">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="emphasis" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="emphasisType"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="randomList" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="listItem" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="para" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="figure">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="title"/>
                                            <xs:element name="graphic">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="id"/>
                                                    <xs:attribute type="xs:string" name="href"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="id"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="listItemPrefix" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tgroup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tbody">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="para">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element name="emphasis" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="emphasisType" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

